body {
  font-family: Arial, sans-serif;
  margin: 50px;
  background-color: rgb(190, 190, 190);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

li {
  padding-bottom: 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0.7rem;
    padding-inline: 20px;
    padding-block: 10px;
    color: #0d6efd;
    margin-right: 20px;
    font-weight: 700;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #0d6efd;
      border: 2px solid #0d6efd;
      color: #fff;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid #1020ff;
  padding: 30px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.512);
  width: 40vw;

  h4 {
    text-align: center;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;

  input {
    background-color: rgb(168, 168, 168);
    border: 2px solid #1020ff;
    border-radius: 1rem;
    height: 3rem;
    color: #000000;
    outline: none;
    padding-left: 10px;
  }

  input:focus {
    border: 2px solid #07127a;
  }

  input::placeholder {
    color: #ffffffc7;
  }

  label {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
}

.btn-section {
  text-align: right;
  margin-top: 15px;
  button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0.7rem;
    padding-inline: 20px;
    padding-block: 10px;
    color: #0d6efd;
    margin-right: 20px;
    font-weight: 700;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #0d6efd;
      border: 2px solid #0d6efd;
      color: #fff;
    }
  }
}
